.commentSection {  
    width:100%;
    align-self: end;
    display: grid;
    grid-gap: 10px;
    padding-top:10px;

}

.loadMore {

    border: none;
    height:2em;

    color:black;
    cursor: pointer;
    font-size: 0.9em;

    
    margin-left: 0.2em;
}
