.footer {
    background-color: rgb(27, 27, 27);
    width:100vw;
    height:2em;
    margin-top: 2em;
    display: grid;
    justify-items: center;
    color:white;
    align-items: center;
    font-size: 0.8em;
    grid-column: -1;
    align-self: end;
  
}