
.content {
    display: grid;
    width:80vw;
    padding-top: 3em;  
    text-align: left;

    
}

.content img {
    height:100%;
    width:100px;
}


.postcontent {

    text-align: left;
    padding-bottom: 1em;
}

h1 {font-size: 2em;}
h2 {
    font-size: 1.8em;
}
h3 {font-size:initial;}

hr {
    background-color: grey;  

}

blockquote {
    border-left: 5px solid #eee;
    padding-left: 5px;
}